body {
  background-color: whitesmoke;
  margin: 0;}

.page-wrapper {
  width: 1100px;
  min-height: 3028px;
  background-color: #ffffff;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
  background-color: white;
}

.logo {
  display: block;
  width: 148px;
  height: 105px;
}

.nav_ul {
  position: relative;
  left: 50px;
  display: flex;
  gap: 30px;
  list-style: none;
}

.circle {
  list-style: circle;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

address {
  position: relative;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
}

.address_ul {
  list-style: none;
}

.main_text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
}

.addr_txt {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.about,
.check_lots {
  padding-left: 5px;
}

.image {
  min-height: 757px;
}

.description {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1100px;
  height: 757px;
  opacity: 0.6;

  background: #000000;
}

.cover {
  position: relative;
  margin-bottom: 180px;
}

.word1,
.word2,
.word3 {
  position: absolute;
}

.word1 {
  position: absolute;
  top: 165px;
  left: 50px;
  z-index: 3;
  width: 286px;
  height: 115px;

  color: #fff;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.word2 {
  position: absolute;
  top: 300px;
  left: calc(50% - 339px / 2);
  z-index: 3;
  width: 339px;
  height: 115px;

  color: #ffffff;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-align: center;
  text-transform: uppercase;
}

.word3 {
  position: absolute;
  top: 435px;
  left: 663px;
  z-index: 3;
  width: 387px;
  height: 115px;

  color: #ffffff;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-align: right;
  text-transform: uppercase;
}

.text_down {
  position: absolute;
  top: 668px;
  left: 50px;
  z-index: 3;
  width: 637px;
  height: 28px;
  color: #ffffff;

  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
}

.button {
  position: absolute;
  top: 656px;
  left: 794px;
  z-index: 3;
  width: 256px;
  height: 51px;

  border: 1px solid white;
  color: #fff;

  color: #ffffff;

  font-family: "Raleway";
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
}

.word21,
.word22,
.word23,
.word24,
.word25,
.word26,
.word27 {
  position: absolute;
}

.word21 {
  position: absolute;
  top: 668px;
  left: 50px;
  width: 108px;
  height: 28px;

  color: #ffffff;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
}

.word22 {
  position: absolute;
  top: 668px;
  left: 184px;
  width: 85px;
  height: 28px;

  color: #ffffff;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
}

.word23 {
  position: absolute;
  top: 668px;
  left: 291px;
  width: 15px;
  height: 28px;

  color: #ffffff;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
}

.word24 {
  position: absolute;
  top: 668px;
  left: 330px;
  width: 105px;
  height: 28px;

  color: #ffffff;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
}

.word25 {
  position: absolute;
  top: 668px;
  left: 458px;
  width: 77px;
  height: 28px;

  color: #ffffff;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
}

.word26 {
  position: absolute;
  top: 668px;
  left: 560px;
  width: 30px;
  height: 28px;

  color: #ffffff;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
}

.word27 {
  position: absolute;
  top: 668px;
  left: 612px;
  width: 75px;
  height: 28px;

  color: #ffffff;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
}

.lots {
  width: 1052px;
  height: 723px;
  margin-left: 24px;
  background-color: white;
  margin-bottom: 120px;
}

.lots__heading {
  position: relative;
  top: 0px;
  left: 40px;
  width: 121px;
  height: 47px;

  color: #000000;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  list-style: none;
  gap: 25px;
  padding: 0;
  margin-top: 27px;
  position: relative;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
  position: relative;
}

.card-link,
.card {
  height: 100%;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
}

.card {
  flex-direction: row;
}

.overlay {
  z-index: 1;
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.lots__look-more-link {
  position: absolute;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  left: 40px;
  bottom: -55px;
}

.lot-main-text {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 48px;
  width: calc(100% - 80px); 

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  
  text-decoration-line: underline;
  text-transform: uppercase;

  color: #ffffff;

  overflow: hidden;         
  overflow-wrap: break-word; 
}

.lot-second-text-film{
  
position: absolute;
height: 144px;
left: 40px;
right: 40px;
bottom: 48px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;

color: #FFFFFF;


}

.lot-second-text-book{
  
position: absolute;
height: 360px;
left: 40px;
right: 40px;
bottom: 48px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;

color: #FFFFFF;


}

.lot-second-text-picture{
position: absolute;
height: 264px;
left: 40px;
right: 40px;
bottom: 48px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;

color: #FFFFFF;


}

.about-auc {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 119px; 
  
  width: 1052px;
  background-color: #fff;
  margin-left: 24px;
  margin-bottom: 180px;
  padding-top: 35px; 
}


.circle-white-logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  justify-self: center; 
}

.logo-white {
  width: 148px;
  height: 114px;
  object-fit: contain;
}

.about-content {
  display: flex;
  flex-direction: column;
  padding-top: 101px; 
}

.about-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin: 0 0 100px 0; 
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px; 
}

.about-text-wrapper p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0; 
  max-width: 693px;
}