.page-wrapper {
  width: 100%;
  background-color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  max-width: 100%;
  min-height: 293px;
  background-color: white;
}

.logo {
  width: 148px;
  height: 105px;
}

.header__links-list {
  position: relative;
  left: 50px;
  display: flex;
  gap: 30px;
  list-style: circle;
}

.header__links-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.underline {
  border-bottom: 1px solid;
}

.address_header {
  position: relative;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
}

.header__address-list {
  list-style: none;
}

.addr_txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.cover {
  position: relative;
  margin-bottom: 180px;
}

.image {
  min-height: 757px;
  object-fit: cover;
}

/* Исправленный и объединенный overlay (ошибки 2-5 и 6) */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.title-word {
  position: absolute;
  z-index: 3;
  height: 115px;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.left-word {
  top: 165px;
  left: 50px;
  width: 286px;
}

.center-word {
  top: 300px;
  left: calc(50% - 339px / 2);
  width: 339px;
  text-align: center;
}

.right-word {
  top: 435px;
  left: 663px;
  width: 387px;
  text-align: right;
}

.button {
  position: relative;
  top: 656px;
  left: 794px;
  z-index: 3;
  width: 256px;
  height: 51px;
  border: 1px solid white;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.cover__description {
  position: absolute;
  top: 668px;
  left: 50px;
  z-index: 3;
  display: flex;
  gap: 24px;
  width: 637px;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.lots {
  max-width: 1052px;
  margin-bottom: 120px;
  margin-left: 24px;
  background-color: white;
}

.lots__heading {
  margin-left: 40px;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

/* Исправленное форматирование (ошибки 1-4) */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}

.lot-main-text {
  z-index: 2;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.lot-description {
  z-index: 2;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more {
  width: 100%;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  color: #000;
  font-size: 20px;
  line-height: 23px;
  text-decoration: underline;
}

.about-auc {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 119px;
  max-width: 1052px;
  margin-bottom: 180px;
  margin-left: 24px;
  padding-top: 35px;
}

.circle-white-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.logo-white {
  width: 148px;
  height: 114px;
  object-fit: contain;
}

.about-content {
  display: flex;
  flex-direction: column;
  padding-top: 101px;
}

.about-title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-text-wrapper p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 40px 50px;
}

.address_footer_ul {
  list-style: none;
}

.addr_txt_footer {
  color: #000;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.nav_ul_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  list-style: none;
}

.main_text_footer {
  color: #000;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

.social_list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}

.social_list img {
  width: 48px;
  height: 48px;
}