body {
  background-color: whitesmoke;
  margin: 0;
}

.page-wrapper {
  width: 1100px;
  min-height: 3028px;
  background-color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
  background-color: white;
}

.logo {
  display: block;
  width: 148px;
  height: 105px;
}

.nav_ul {
  position: relative;
  left: 50px;
  display: flex;
  gap: 30px;
  list-style: none;
}

.circle {
  list-style: circle;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.address_header {
  position: relative;
  right: 50px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
}

.address_ul {
  list-style: none;
}

.main_text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.addr_txt {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.about,
.check_lots {
  padding-left: 5px;
}

.image {
  min-height: 757px;
}

.description {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1100px;
  height: 757px;
  background: #000000;
  opacity: 0.6;
}

.cover {
  position: relative;
  margin-bottom: 180px;
}

.word1,
.word2,
.word3 {
  position: absolute;
}

.word1 {
  position: absolute;
  top: 165px;
  left: 50px;
  z-index: 3;
  width: 286px;
  height: 115px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
}

.word2 {
  position: absolute;
  top: 300px;
  left: calc(50% - 339px / 2);
  z-index: 3;
  width: 339px;
  height: 115px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.word3 {
  position: absolute;
  top: 435px;
  left: 663px;
  z-index: 3;
  width: 387px;
  height: 115px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}

.text_down {
  position: absolute;
  top: 668px;
  left: 50px;
  z-index: 3;
  width: 637px;
  height: 28px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.button {
  position: absolute;
  top: 656px;
  left: 794px;
  z-index: 3;
  width: 256px;
  height: 51px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
}

.word21, .word22, .word23, .word24, .word25, .word26, .word27 {
  position: absolute;
}

.word21 {
  top: 0;
  left: 0;
  width: 108px;
  height: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.word22 {
  top: 0;
  left: 134px;
  width: 85px;
  height: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.word23 {
  top: 0;
  left: 241px;
  width: 15px;
  height: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.word24 {
  top: 0;
  left: 280px;
  width: 105px;
  height: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.word25 {
  top: 0;
  left: 408px;
  width: 77px;
  height: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.word26 {
  top: 0;
  left: 510px;
  width: 30px;
  height: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.word27 {
  top: 0;
  left: 562px;
  width: 75px;
  height: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.lots {
  width: 1052px;
  height: 723px;
  margin-left: 24px;
  margin-bottom: 120px;
  background-color: white;
}

.lots__heading {
  position: relative;
  top: 0px;
  left: 40px;
  width: 121px;
  height: 47px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
}

.lots__card-list {
  position: relative;
  display: flex;
  gap: 25px;
  margin-top: 27px;
  padding: 0;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
}

.lots__look-more {
  list-style: none;
}

.lots__look-more-link {
  position: absolute;
  bottom: -55px;
  left: 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000;
}

.lot-main-text {
  position: absolute;
  top: 48px;
  left: 40px;
  right: 40px;
  z-index: 2;
  width: calc(100% - 80px);
  overflow: hidden;
  overflow-wrap: break-word;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.lot-second-text-film, 
.lot-second-text-book, 
.lot-second-text-picture {
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 48px;
  z-index: 2;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  margin: 0;
}

.lot-second-text-film {
  height: 144px;
}

.lot-second-text-book {
  height: 360px;
}

.lot-second-text-picture {
  height: 264px;
}

.about-auc {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 119px;
  width: 1052px;
  margin-left: 24px;
  margin-bottom: 180px;
  padding-top: 35px;
  background-color: #fff;
}

.circle-white-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.logo-white {
  width: 148px;
  height: 114px;
  object-fit: contain;
}

.about-content {
  display: flex;
  flex-direction: column;
  padding-top: 101px;
}

.about-title {
  margin: 0 0 100px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-text-wrapper p {
  max-width: 693px;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 40px 50px;
}

.address_footer_ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.addr_txt_footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.nav_ul_footer {
  display: grid;
  gap: -1px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.main_text_footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.social_list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social_list img {
  width: 48px;
  height: 48px;
}